#container {
  text-align: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#container1 {
  display: flex;
  text-align: center;
  height: 20%;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#container1 strong {
  font-size: 20px;
  line-height: 26px;
}

#container1 p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container1 a {
  text-decoration: none;
}

ion-content{
  --ion-background-color: #E3CFF7;
}

ion-button {
  margin: 15px;
}

#lists {
  margin-left: 15px;
  margin-bottom: 50px;
}