<ion-header collapse="fade">
  <ion-toolbar>
    <ion-title class="ion-text-center" size="large" color="tertiary">My Todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div id="lists">
      <div color="tertiary" id="my_lists">Mes listes</div>
      <ion-button (click)="handleCreateTodo()" color="tertiary" size="small">+</ion-button>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- TODO
          add loop to display each list on one line
          -->
          <ion-button (click)="handleConsultTodo()" expand="block" color="success"><ion-icon slot="start" name="star"></ion-icon>Courses</ion-button>
          <ion-button expand="block" color="tertiary"><ion-icon slot="start" name="star"></ion-icon>Wish list</ion-button>
          <ion-button expand="block" color="medium"><ion-icon slot="start" name="star"></ion-icon>Préparatifs anniversaire</ion-button>
          <ion-button expand="block" color="primary"><ion-icon slot="start" name="star"></ion-icon>Valises</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>